img {
    object-fit: fill;
}

.u-section-1 {
    background-image: url("images/login-backround.jpg");
    background-position: 100% 100%;

}

.u-section-1 .u-sheet-1 {
    min-height: 732px;
}

.u-section-1 .u-group-1 {
    width: 800px;
    min-height: 446px;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
    height: auto;
    margin: 60px auto;
}

.u-section-1 .u-container-layout-1 {
    padding: 0;
    max-height: 500px;
    min-width: 300px;
}

.u-section-1 .u-group-2 {
    width: 375px;
    min-height: 442px;
    height: auto;
    margin: 0 27px 0 auto;
}

.u-section-1 .u-container-layout-2 {
    padding: 30px 30px 10px;
}

.u-section-1 .u-form-1 {
    height: 250px;
    width: 314px;
    margin: 6px auto 0;
}

.u-section-1 .u-form-group-3 {
    margin-left: 0;
}

.u-section-1 .u-btn-1 {
    letter-spacing: 1px;
    transition-duration: 0.5s;
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px 32px 5px 31px;
}

.u-section-1 .u-image-1 {
    width: 98px;
    height: 98px;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
    background-image: url("images/cb16f31e6c0bb393f1ddf3fa48fe613fd0a287eb1e597d9a437b75adf5d802c2057dae038c18072d510ef79eb88cd43f6705211278c18adb06a9a6_1280-10.jpg");
    background-position: 50% 50%;
    margin: -421px auto 0 50px;
}

.u-section-1 .u-btn-2 {
    transition-duration: 0.5s;
    letter-spacing: 1px;
    border-style: none;
    text-transform: uppercase;
    box-shadow: 2px 0 0 0 rgba(0,0,0,0);
    font-weight: 700;
    margin: -89px auto 0 175px;
    padding: 6px 11px 7px 10px;
}

.u-section-1 .u-text-1 {
    font-size: 1.125rem;
    background-image: none;
    margin: 20px 422px 0 183px;
}

.u-section-1 .u-icon-2 {
    width: 64px;
    height: 64px;
    margin: 41px auto 0 50px;
}

.u-section-1 .u-text-2 {
    margin: -37px auto 0 144px;
}

.u-section-1 .u-icon-3 {
    width: 64px;
    margin: 41px auto 0 50px;
}

.u-section-1 .u-text-3 {
    margin: -37px auto 0 144px;
}

.u-section-1 .u-icon-4 {
    width: 64px;
    height: 64px;
    margin: 42px auto 0 50px;
    padding: 0;
}

.u-section-1 .u-text-4 {
    margin: -45px auto 0 144px;
}

@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 604px;
    }

    .u-section-1 .u-group-1 {
        height: auto;
    }

    .u-section-1 .u-group-2 {
        height: auto;
    }

    .u-section-1 .u-btn-1 {
        border-style: none;
    }

    .u-section-1 .u-image-1 {
        margin-top: -456px;
    }

    .u-section-1 .u-icon-4 {
        margin-top: 41px;
    }

    .u-section-1 .u-text-4 {
        margin-top: 122px;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
        min-height: 463px;
    }

    .u-section-1 .u-group-1 {
        width: 720px;
    }

    .u-section-1 .u-btn-2 {
        margin-left: 95px;
    }

    .u-section-1 .u-text-1 {
        margin-right: 382px;
        margin-left: 143px;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
        min-height: 347px;
    }

    .u-section-1 .u-group-1 {
        width: 540px;
    }

    .u-section-1 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-btn-2 {
        margin-left: 0;
    }

    .u-section-1 .u-text-1 {
        margin-right: 292px;
        margin-left: 53px;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
        min-height: 218px;
    }

    .u-section-1 .u-group-1 {
        width: 340px;
    }

    .u-section-1 .u-group-2 {
        width: 340px;
        margin-right: 0;
    }

    .u-section-1 .u-text-1 {
        margin-right: 145px;
        margin-left: 0;
    }

    .u-section-1 .u-text-2 {
        margin-left: 91px;
    }

    .u-section-1 .u-text-3 {
        margin-left: 91px;
    }

    .u-section-1 .u-text-4 {
        margin-left: 10%;
    }
}

.u-section-1 .u-btn-2,
.u-section-1 .u-btn-2:before,
.u-section-1 .u-btn-2 > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2:hover {
    box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2:hover > .u-container-layout:before {
    background-color: transparent !important;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2.hover {
    box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}