<!DOCTYPE html>
<html lang="en">
   <!-- Basic -->
   <meta charset="utf-8"/>
   <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
   <!-- Mobile Metas -->
   <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
   <!-- Site Metas -->
   <title>Game Info</title>
   <meta name="keywords" content=""/>
   <meta name="description" content=""/>
   <meta name="author" content=""/>
   <!-- Site Icons -->
   <link rel="shortcut icon" type="image/x-icon" />
   <link rel="apple-touch-icon" />
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" th:href="@{bootstrap.min.css}"/>
   <!-- Site CSS -->
   <link rel="stylesheet" th:href="@{style.css}"/>
   <!-- Colors CSS -->
   <link rel="stylesheet" th:href="@{colors.css}"/>
   <!-- ALL VERSION CSS -->	
   <link rel="stylesheet" th:href="@{versions.css}"/>
   <!-- Responsive CSS -->
   <link rel="stylesheet" th:href="@{responsive.css}"/>
   <!-- Custom CSS -->
   <link rel="stylesheet" th:href="@{custom.css}"/>
   <!-- font family -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

   <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"/>
   <!-- end font family -->
   <link rel="stylesheet" th:href="@{3dslider.css}" />
   <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
   <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
   <script th:src="@{js/3dslider.js}"></script>
   <script async th:src='@{/cdn-cgi/bm/cv/669835187/api.js}'></script></head>
   <body class="game_info" data-spy="scroll" data-target=".header">
      <!-- LOADER -->
      <div id="preloader">
         <img class="preloader" th:src="@{images/loading-img.gif}" alt="">
      </div>
      <!-- END LOADER -->
      <section id="top">
         <header>
            <div class="container">
               <div class="header-top">
                  <div class="row">
                     <div class="col-md-6">
                        <div class="full">
                           <div class="logo">
                              <a th:href="@{/}"><img th:src="@{images/logo.png}" alt="#" /></a>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="right_top_section">
                           <!-- social icon -->
                           <ul class="social-icons pull-left">
                              <li><a class="facebook" href="https://facebook.com"><i class="fa fa-facebook"></i></a></li>
                              <li><a class="twitter" href="https://twitter.com"><i class="fa fa-twitter"></i></a></li>
                              <li><a class="youtube" href="https://www.youtube.com/channel/UCOn6aIFUnpqzvh3hPid84xQ"><i class="fa fa-youtube-play"></i></a></li>
                              <li><a class="instagram" href="https://instagram.com"><i class="fa fa-instagram"></i></a></li>
                           </ul>
                           <!-- end social icon -->
                           <!-- button section -->
                           <ul class="login">
                              <li class="login-modal">
                                 <a th:href="@{profile}" class="login"><i class="fa fa-user"></i><div class="userName" th:text="${userName}"></div></a>
                              </li>
                              <li>
                                 <div class="cart-option">
                                    <a th:href="@{logOut}"></i>Log Out</a>
                                 </div>
                              </li>
                           </ul>
                           <!-- end button section -->
                        </div>
                     </div>
                  </div>
               </div>
               <div class="header-bottom">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="full">
                           <div class="main-menu-section">
                              <div class="menu">
                                 <nav class="navbar navbar-inverse">
                                    <div class="navbar-header">
                                       <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
                                       <span class="sr-only">Toggle navigation</span>
                                       <span class="icon-bar"></span>
                                       <span class="icon-bar"></span>
                                       <span class="icon-bar"></span>
                                       </button>
                                       <a class="navbar-brand" th:href="@{#}">Menu</a>
                                    </div>
                                    <div class="collapse navbar-collapse js-navbar-collapse">
                                       <ul class="nav navbar-nav">
                                          <li class="active"><a th:href="@{/main}">Home</a></li>
                                          <li><a th:href="@{/about.html}">About</a></li>
                                          <!--<li><a th:href="@{/team.html}">Team</a></li>-->
                                          <li><a th:href="@{/news.html}">News</a></li>
                                          <!--<li><a th:href="@{blog.html}">Blog</a></li>-->
                                          <li><a th:href="@{/contact.html}">Contact</a></li>
                                          <li><a th:href="@{bettingHome}">Betting Home</a></li>
                                          <li><a th:href="@{groups}">Groups</a></li>
                                       </ul>
                                    </div>
                                    <!-- /.nav-collapse -->
                                 </nav>
                                 <div class="search-bar">
                                    <div id="imaginary_container">
                                       <div class="input-group stylish-input-group">
                                          <input type="text" class="form-control"  placeholder="Search" >
                                          <span class="input-group-addon">
                                          <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>  
                                          </span>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </header>
         <div class="inner-page-banner">
            <div class="container">
            </div>
         </div>
      </section>
      <section id="contant" class="contant main-heading" style="padding-bottom:0;margin-bottom:-1px;position:relative;">
         <div class="aboutus">
            <div class="container">
               <div class="row">
                  <div class="col-md-12 col-sm-12">
                     <div class="col-md-7 col-sm-7 col-xs-12">
                        <div class="full">
                           <h3>Our Team</h3>
                           <div class="rowy">
                              <div class="columny">
                                 <div class="cardy">
                                    <img th:src="@{images/robert.png}" height="350" alt="Robert" style="width:100%">
                                    <div class="containery">
                                       <p></p>
                                       <h2>Robert Nguyen</h2>
                                       <p class="titley">Group Member</p>
                                       <p>18 years old</p>
                                       <p>from Linz</p>
                                       <p><button class="buttony">Contact</button></p>
                                    </div>
                                 </div>
                              </div>

                              <div class="columny">
                                 <div class="cardy">
                                    <img th:src="@{images/raphael.png}" height="350" alt="Raphael" style="width:100%">
                                    <div class="containery">
                                       <p></p>
                                       <h2>Raphael Stangl</h2>
                                       <p class="titley">Group Member</p>
                                       <p>17 years old</p>
                                       <p>from Linz</p>
                                       <p><button class="buttony">Contact</button></p>
                                    </div>
                                 </div>
                              </div>

                              <div class="columny">
                                 <div class="cardy">
                                    <img th:src="@{images/valdet.png}" height="350px" alt="Valdet" style="width:100%">
                                    <div class="containery">
                                       <p></p>
                                       <h2>Valdet Zeciri</h2>
                                       <p class="titley">Group Leader</p>
                                       <p>17 years old</p>
                                       <p>from Linz</p>
                                       <p><button class="buttony">Contact</button></p>
                                    </div>
                                 </div>
                              </div>

                              <div class="columny">
                                 <div class="cardy">
                                    <img th:src="@{images/vanja.png}" height="350" alt="Vanja" style="width:100%">
                                    <div class="containery">
                                       <p></p>
                                       <h2>Vanja Visekruna</h2>
                                       <p class="titley">Group Member</p>
                                       <p>16 years old</p>
                                       <p>from Linz</p>
                                       <p><button class="buttony">Contact</button></p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         
         <br>
         <br>
         <br>

      </section>
      <footer id="footer" class="footer">
         <div class="container">
            <div class="row">
               <div class="col-md-4">
                  <div class="full">
                     <div class="footer-widget">
                        <div class="footer-logo">
                           <a th:href="@{#}"><img th:src="@{images/footer-logo.png}" alt="#" /></a>
                        </div>
                        <p></p>
                        <ul class="social-icons style-4 pull-left">
                           <li><a class="facebook" href="https://facebook.com"><i class="fa fa-facebook"></i></a></li>
                           <li><a class="twitter" href="https://twitter.com"><i class="fa fa-twitter"></i></a></li>
                           <li><a class="youtube" href="https://www.youtube.com/channel/UCOn6aIFUnpqzvh3hPid84xQ"><i class="fa fa-youtube-play"></i></a></li>
                           <li><a class="instagram" href="https://instagram.com"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-md-2">
                  <div class="full">
                     <div class="footer-widget">
                        <h3>Menu</h3>
                        <ul class="footer-menu">
                           <li><a th:href="@{about.html}">About Us</a></li>
                           <!--<li><a th:href="@{team.html}">Our Team</a></li>-->
                           <li><a th:href="@{news.html}">Latest News</a></li>
                           <!--<li><a th:href="@{matche.html}">Recent Matchs</a></li>-->
                           <li><a th:href="@{contact.html}">Contact Us</a></li>
                           <!--<li><a th:text="${userName}" th:href="@{profile}"></a></li>-->
                           <li><a th:href="@{bettingHome}">Betting Home</a></li>
                           <li><a th:href="@{groups}">Groups</a></li>
                           <li><a th:href="@{logOut}">Log Out</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="full">
                     <div class="footer-widget">
                        <h3>Contact us</h3>
                        <ul class="address-list">
                           <li><i class="fa fa-map-marker"></i>HTBLA Leonding</li>
                           <li><i class="fa fa-phone"></i>...</li>
                           <li><i style="font-size:20px;top:5px;" class="fa fa-envelope"></i> FutBet7@gmail.com</li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="full">
                     <div class="contact-footer">
                        <iframe src="https://www.google.at/maps/dir//HTBLA+Leonding,+Limesstraße+12-14,+4060+Leonding/@48.2677947,14.2401104,13.48z/data=!4m8!4m7!1m0!1m5!1m1!1s0x477396fb96f68367:0xf2b265395a736637!2m2!1d14.2517849!2d48.2684024" width="600" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="footer-bottom">

         </div>
      </footer>
      <a th:href="@{#home}" data-scroll class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>
      <!-- ALL JS FILES -->
      <script th:src="@{js/all.js}"></script>
      <!-- ALL PLUGINS -->
      <script th:src="@{js/custom.js}"></script>
   <script type="text/javascript">(function(){window['__CF$cv$params']={r:'6db497358aa278a6',m:'v0XQX1uKZ4y3Vgj_G86_cqI46mwg8EzWiEOPLe8ESoI-1644488277-0-AXA20yO9geOVk2/dQr9tmgu/vtn5+4dYlubNWEebeEdjUtgA1nRV3Fq4GAZznomR5ehjtQg2mMGL6DHv8TECN2zIkdAG0nQSMOe5Eysh3XSayhrPmlbosUOWk1EOcIqx52y1wF8GH71yw51eRAKtLHS1M4R+VE4oNmLl0KcszruIxYKk38I7nEx9mUUexEqzYg==',s:[0x60b86451b1,0x2f3c880b6e],}})();</script></body>
   <style>
      /* Three columns side by side */
      .columny {
         float: left;
         width: 25%;
         margin-bottom: 16px;
         padding: 0 8px;
      }

      /* Display the columns below each other instead of side by side on small screens */
      @media screen and (max-width: 650px) {
         .column {
            width: 100%;
            display: block;
         }
      }

      /* Add some shadows to create a card effect */
      .cardy {
         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      }

      /* Some left and right padding inside the container */
      .containery {
         padding: 0 16px;
      }

      /* Clear floats */
      .containery::after, .row::after {
         content: "";
         clear: both;
         display: table;
      }

      .titley {
         color: grey;
      }

      .buttony {
         border: none;
         outline: 0;
         display: inline-block;
         padding: 8px;
         color: white;
         background-color: #000;
         text-align: center;
         cursor: pointer;
         width: 100%;
      }

      .buttony:hover {
         background-color: #555;
      }
   </style>
</html>