<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" th:href="@{login-page.css}">
  <script  th:src="@{js/login-page.js}"></script>


</head>

<body>
  <main id="main-holder">
    <h1 id="login-header">Login</h1>

    <div id="login-error-msg-holder" ><p th:text="${message}"></p>
    </div>
    
    <form th:action="@{/login-page}" th:object="${user}" method="post">
      <input type="text" th:field="*{userName}" name="username" class="login-form-field" placeholder="Username">
      <br>
      <input type="password" th:field="*{id}" name="password" class="login-form-field" placeholder="Password">
      <br>
      <input type="submit" value="Login" id="login-form-submit">
    </form>

    <a th:href="@{register-page}">Sign Up</a>
  </main>
</body>

</html>